/** Core styling */
.accordion{
	padding: 0;
	margin:  0;
	position: relative;
	list-style: none;
}
	.accordion > *{
		position: absolute;
		overflow: hidden;
		padding: 0;
		margin:  0;
	}
		.accordion > *,
		.accordion.edge-visible,
		.accordion .accordion{
			transition: .3s ease all;
		}
		/** Heading */
		.accordion > * > :first-child{
			cursor: pointer;
			background: #2c4d2b;
			color: #fff;
		}
		
		/** Collapsible content */
		.accordion > * > :last-child{
			overflow: hidden;
			background: #fff;
			padding: 0 .5em;
			transition: .3s ease height;
		}



/** Demo shit */
html{
	padding: 1em 2em;
	background: #000;
}
h1, h2, h3{
	margin: 0;
	padding: 0 .25em;
}

p{
	margin: 0;
}

.fold > .accordion{
	margin-bottom: 1em;
}
	.fold > .accordion > * > :last-child{
		background: #ddd;
	}
#mindless-copy{
	margin: 0 -1em;
	color: #aaa;
	text-align: justify;
}

.clamp-width{
	max-width: 20em;
}
